<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shivam.notifyme">

    <uses-permission android:name="android.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.HomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.AddYourTask"
            android:label="Add your task"
            />
        <activity
            android:name=".Activity.WelcomeScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeScreenTheme" />

        <activity android:name=".Activity.Performance"
            android:parentActivityName=".Activity.HomeScreen"
            android:label="Performance"
            />

        <activity android:name=".Activity.AboutUs"
            android:parentActivityName=".Activity.HomeScreen"
            android:label="About us"
            />

        <activity android:name=".Activity.Settings"
            android:parentActivityName=".Activity.HomeScreen"
            android:label="Settings"
            />

        <activity android:name=".Activity.NotificationActivity"
            android:parentActivityName=".Activity.HomeScreen"
            android:label="Notifications"
            />

        <receiver android:name=".Others.NotificationReceiver" />

        <provider
            android:name=".Data.TaskProvider"
            android:authorities="com.example.shivam.notifyme"
            android:exported="false" />

        <activity android:name=".Activity.EditYourTask"
            android:label="Edit your task"
            />
    </application>

</manifest>